.company_results{

  background-color: $blueBackground;
  .company_results_container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 60px 15px;
    display: flex;
    justify-content: space-around;
    .item{
      text-align: center;
      color: $whiteColor;
      img{
        width: 65px;
        height: 45px;

      }
      .number{
        margin: 35px auto 15px auto;
        font-size: 32px;
      }
    }
  }

}
@media(max-width:850px) {
  .company_results {
    .company_results_container {
      display: grid;
      min-width: 290px;
      max-width: 570px;
      text-align: center;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      justify-content: space-around;
      .item{
        margin: 10px;
        img{
          width: 55px;
        }
        .number{
          margin: 20px auto 10px auto;
          font-size: 28px;
        }
      }
    }
  }
}