@import "partials/reset";

@mixin font($font_name, $file_name, $weight, $style) {
  @font-face { font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style}; }

}
$mainColor:#839094;
$greyBackground: #F7F7F7;
$darkBlueColor: #337AB7;
$blackColor: #000000;
$whiteColor: #ffffff;

body._lock{
  overflow: hidden;
}

@import "partials/fonts";
@import "partials/header";
@import "partials/registrationForm";